/*
* App
*/
.footer{
    padding-top: 10px;
}

/*
* Saldos
*/
.btn-left {
    width: 10%;
    min-width: 40px;
}

.btn-center {
    width: 70%;
    font-weight: bold;
}

.btn-right {
    min-width: 40px;
    width: 10%;
}

/*
* Lançamentos
*/
.table{
    text-align: left;
}

.red {
    color: #d80b00 !important;
}

.blue {
    color: #0051a8;
}

input:required, textarea:required{
    background: #fff url(images/red_asterisk.png) no-repeat center right 8px;
}

select:required{
    background: #fff url(images/red_asterisk.png) no-repeat center right 20px;
}

.required_notification {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    float:right;
}